body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.scene {
  background-color: #000;
  float: left;
  height: 500px;
  width: 100%;
}

.grass {
  float: left;
  background: url('./assets/grass.jpg');
  background-size: cover;
  width: 100%;
  height: 100px;
}

#top-debug {
  color: #fff;
}

.road {
  float: left;
  background-color: #ccc;
  width: 100%;
  height: 300px;
}

#ai {
  background: url('./assets/car.png');
  background-size: cover;
  height: 50px;
  margin-top: 50px;
  position: absolute;
  width: 100px;
}

#wall {
  background: url('./assets/brick.jpg');
  background-size: cover;
  height: 100px;
  position: absolute;
  right: 0;
  width: 50px;
}

#sensor_1,
#sensor_2,
#sensor_3 {
  background-color: #fff;
  height: 50px;
  opacity: .5;
  position: relative;
  text-align: center;
  width: 50px;
}

#sensor_1 {
  top: -50px;
  left: 50px;
}

#sensor_2 {
  left: 100px;
  top: -50px;
  width: 500px;
}

#sensor_3 {
  top: -50px;
  left: 50px;
}

.debug-area {
  background-color: #000;
  float: left;
  height: 100%;
  width: 100%;
}

#debug-text-area {
  height: 150px;
  width: 400px;
}

.table-debug{
  background-color: #fff;
  color: #000;
  width: 100%;
}

.small {
  width: 50%;
}